# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe

*.swp
*.iml
.idea/
.idea/*
.idea/vcs.xml
.idea/preferred-vcs.xml


*.tmp
unit_test_*/*


# beego/logs/logger.go文件有额外修改
!vendor/github.com/astaxie/beego/logs/*/

vendor/*/

.DS_Store
docs/.DS_Store
docs/static/.DS_Store
/stgstorelog/unit_test_store/

example/stgnet/netm/client/client
example/stgnet/netm/serve/serve
example/stgnet/netm/benchmark/client/client
example/stgnet/netm/benchmark/serve/serve
stgcommon/logger/test.log
example/stgnet/remoting/client/client
example/stgnet/remoting/serve/serve
producer_main
push_consumer_main

example/stgclient/consumer/pull/pull
example/stgclient/consumer/pull/pull.exe

example/stgclient/consumer/broadcast/broadcast
example/stgclient/consumer/broadcast/broadcast.exe

example/stgclient/consumer/push/push
example/stgclient/consumer/push/push.exe

example/stgclient/producer/sync/simple/simple
example/stgclient/producer/sync/simple.exe

example/stgclient/producer/sync/topic/topic
example/stgclient/producer/sync/topic/topic.exe

example/stgclient/producer/sync/tps/tps
example/stgclient/producer/sync/tps/tps.exe

example/stgclient/producer/oneway/tps/tps
example/stgclient/producer/oneway/tps/tps.exe

example/stgclient/producer/oneway/oneway
example/stgclient/producer/oneway/oneway.exe

example/stgnet/remoting/benchmark/client/client
example/stgnet/remoting/benchmark/server/server

stgregistry/start/logs/
stgregistry/start/logs/*.log
stgregistry/start/nohup.out
stgregistry/start/g/cfg.json
stgregistry/start/registry
stgregistry/start/registery
stgregistry/start/register
stgregistry/start/start
stgregistry/start/start.exe

stgregistry/start/gitversion
stgregistry/start/registry-v3.2.6/
stgregistry/start/registry-bin-v3.2.6/
stgregistry/start/registry-bin-v3.2.6.tar.gz
stgregistry/start/registry-v3.2.6.tar.gz

stgbroker/start/start
stgbroker/start/start.exe
stgbroker/start/nohup.out
stgbroker/start/broker
stgbroker/start/broker.exe
stgbroker/start/demo
stgbroker/start/logs/
stgbroker/start/logs/*.log

stgbroker/start/broker_start
stgbroker/start/gitversion
stgbroker/start/broker-v3.2.6/
stgbroker/start/broker-bin-v3.2.6/
stgbroker/start/broker-bin-v3.2.6.tar.gz
stgbroker/start/broker-v3.2.6.tar.gz
stgbroker/start/conf

stgweb/web/etc/cfg.json

target/
target/*
target/*.*
target/**/*.*
