# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe

*.swp
*.iml
.idea/
.idea/vcs.xml
.idea/preferred-vcs.xml

*.tmp
unit_test_*/*

vendor/*/

.DS_Store
docs/.DS_Store
docs/static/.DS_Store
/stgstorelog/unit_test_store/

example/stgnet/netm/client/client
example/stgnet/netm/serve/serve
example/stgnet/netm/benchmark/client/client
example/stgnet/netm/benchmark/serve/serve
stgcommon/logger/test.log
example/stgnet/remoting/client/client
example/stgnet/remoting/serve/serve
producer_main
push_consumer_main
stgbroker/start/demo
