# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

*.exe

*.swp
*.iml
*.tmp
.idea/*

bin/
broker/broker
namesrver/etc/seelog-nsrv.xml
namesrver/namesrver
namesrver/etc/namesrv.toml
namesrver/namesrv
